<!-- любой текст -->
{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <div class="form-group">
    <label for="secretQ">Secret Question</label>
    <form action="" method="post">
      <b></b><br>
      <label><input type="radio" name="answer" value="1"> Favorite colour</label><br>
      <label><input type="radio" name="answer" value="2"> Name of the first pet</label><br>
      <label><input type="radio" name="answer" value="3"> Favorite dish</label><br>
      <input type="submit" name="sbm_answer" value="ОК">
    </form>
    <input
      type="text"
      class="form-control"
      id="secretQ"
      name="secretQ"
      placeholder="Enter your answer for secret question"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
